<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TRACEInterface_test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OracleEntities" connectionString="metadata=res://*/Models.ModelOra.csdl|res://*/Models.ModelOra.ssdl|res://*/Models.ModelOra.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=172.27.10.38:1521/KOLLTST;PASSWORD=Agilo_11;PERSIST SECURITY INFO=True;USER ID=CZ_FVISIT_USER&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="OracleEntities" connectionString="metadata=res://*/Models.ModelOra.csdl|res://*/Models.ModelOra.ssdl|res://*/Models.ModelOra.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=172.27.10.38:1521/KOLLTST;PASSWORD=Agilo_11;PERSIST SECURITY INFO=True;USER ID=CZ_FVISIT_USER&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="SqlEntities" connectionString="metadata=res://*/Models.ModelSql.csdl|res://*/Models.ModelSql.ssdl|res://*/Models.ModelSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOBEK;initial catalog=TRACE;persist security info=True;user id=developer;password=Agilo.2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <userSettings>
    <TRACEInterface_test.My.MySettings>
      <setting name="LoggingToWinLog_IsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CriticalErrorsToEmail_EmailAdress" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>novak@agilo.cz</string>
            <string>hanzl@agilo.cz</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CriticalErrorsToEmail_IsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OneConfirmMailPerDay_EmailAddress" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OneConfirmMailPerDay_IsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Email_EnableSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email_Host" serializeAs="String">
        <value>smtp.seznam.cz</value>
      </setting>
      <setting name="Email_Port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Email_CredentialsName" serializeAs="String">
        <value>petrnovak81@seznam.cz</value>
      </setting>
      <setting name="Email_CredentialsPassword" serializeAs="String">
        <value>8106105458</value>
      </setting>
      <setting name="Email_From" serializeAs="String">
        <value>petrnovak81@seznam.cz</value>
      </setting>
      <setting name="Email_Subject" serializeAs="String">
        <value>TRACE Interface Log</value>
      </setting>
      <setting name="Email_DisplayName" serializeAs="String">
        <value>TRACE Interface</value>
      </setting>
      <setting name="ProcessingIntervalSeconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ZOZ" serializeAs="String">
        <value>True</value>
      </setting>
    </TRACEInterface_test.My.MySettings>
  </userSettings>
</configuration>